.item {
  display: flex;
}

.img {
  max-width: 250px;
}

.container {
  margin-left: 25px;
  margin-right: 45px;
}

.description {
  display: inline;
}

.containerImg {
  display: flex;
  justify-content: center;
}

.nav {
  font-size: 18px;
  margin-bottom: 8px;
  color: black;
  margin-left: 45px;
}

@media (max-width: 715px) {
  .list {
    padding-left: 0;
  }

  .item {
    display: block;
  }

  .containerImg {
    display: flex;
    justify-content: center;
  }

  .container {
    margin-left: 25px;
    margin-right: 25px;
  }
}
