.list{
    list-style: none;
        margin-right: 65px;
}

.description{
    line-height: 1.5;
}

@media (max-width: 715px) {
  .list {
    padding-left: 0;
        margin-left: 25px;
    margin-right: 25px;
  }
}